.vehicle-list {
    display: grid;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
    
    .vehicle-card {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        transition: box-shadow 0.2s ease;

         &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        a {
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
        }

        .vehicle-image {
            width: 200px;
            aspect-ratio: 1/1;
            object-fit: cover;
            display: block;
            margin-bottom: 7px;
            background-color: url('https://placehold.co/480');
        }
    }
}

.vehicle-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;

    .vehicle-image {
        width: 500px;
        display: block;
        margin-bottom: 1rem;
        background-color: url('https://placehold.co/480');
    }

    .vehicle-info {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.5;
    }
}