@layer base, components;

@import 'base/colors.css' layer(base);

@import 'pages/catalog.css' layer(components);
@import 'pages/contact.css' layer(components);
@import 'pages/login.css' layer(components);
@import 'pages/registration.css' layer(components);

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    nav {
        ul {
            display: flex;
            list-style: none;
            padding: 20px;
            margin: 0;
            justify-content: center;
        }

        li {
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            background-color: var(--background-color);
            padding: 10px 15px;
            border-bottom: 5px solid var(--primary-color);
            color: #333;
        }
    }

    
    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
    }
}