html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    nav {
        ul {
            display: flex;
            list-style: none;
            padding: 20px;
            margin: 0;
            justify-content: center;
        }

        li {
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            background-color: #ddd;
            padding: 10px 15px;
            border-bottom: 5px solid #A6B1E1;
            color: #333;
        }
    }

    
    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
    }
}