@layer base, components;

@import 'base/colors.css' layer(base);

@import 'pages/catalog.css' layer(components);
@import 'pages/contact.css' layer(components);
@import 'pages/responses.css' layer(components);
@import 'pages/login.css' layer(components);
@import 'pages/registration.css' layer(components);
@import 'pages/dashboard.css' layer(components);


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    nav {
        border-bottom: 1px solid var(--secondary-color);
        ul {
            display: flex;
            list-style: none;
            padding: 20px;
            margin: 0;
            justify-content: center;

            li {
                margin-right: 15px;
            
                a {
                    text-decoration: none;
                    background-color: var(--background-color);
                    padding: 10px 15px;
                    color: #333;
                    
                    transition: box-shadow 0.3s ease;

                    &:hover {
                        border-bottom: 5px solid var(--primary-color);
                        box-shadow: inset 0 -5px 0 var(--primary-color);
                        border-bottom: none;
                    }

                    &.active {
                        background-color: var(--primary-color);
                        color: var(--background-color);
                    }
                }
            }
        }
    }

    
    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
    }
}