.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .user-info {
        display: flex;
        align-items: center;
        gap: 20px;

        .user-detail {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .label {
                font-size: 18px;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }

            .value {
                font-size: 18px;
                padding: 0;
                margin: 0;
                color: #555;
            }
        }
    }

    .dashboard-actions {
        display: flex;
        gap: 20px;
        margin-top: 20px;

        a, button {
            border: none;
            text-decoration: none;
            color: #000;
            padding: 10px 20px;
            cursor: pointer;
            background-color: var(--background-color);
            transition: box-shadow 0.3s ease;
            font-size: 16px;

            &:hover {
                border-bottom: 5px solid var(--primary-color);
                box-shadow: inset 0 -5px 0 var(--primary-color);
                border-bottom: none;
            }
        }
    }

    .admin-panel {
        display: flex;
        gap: 20px;
        margin-top: 20px;

        a {
            text-decoration: none;
            color: #000;
            padding: 10px 20px;
            cursor: pointer;
            background-color: var(--background-color);
            transition: box-shadow 0.3s ease;

            &:hover {
                border-bottom: 5px solid var(--primary-color);
                box-shadow: inset 0 -5px 0 var(--primary-color);
                border-bottom: none;
            }
        }
    }
}