<%- include('partials/header') %>

<section id="hero">
    <h1><%= title %></h1>
    <p>Find your dream car from our extensive catalog.</p>

    // TODO: implement a featured vehicle section here that randomly selects a Vehicle from the catalog
</section>

<%- include('partials/footer') %>